resources:
- ../default

patches:
- patch: |-
    - op: add
      path: /rules/-
      value:
        apiGroups:
        - accelerator.gke.io
        resources:
        - slices
        verbs:
        - get
        - list
        - watch
    - op: add
      path: /rules/-
      value:
        apiGroups:
        - accelerator.gke.io
        resources:
        - slices/status
        verbs:
        - get
  target:
    group: rbac.authorization.k8s.io
    kind: ClusterRole
    name: megamon-manager-role
    version: v1